body{
    color: #000000;
    margin: 0;
    font-size: 14px;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: 400;
    line-height: 1.43;
    background-color: #FFFFFF;
}

.jss797 {
    border-top: 1px solid rgb(236, 237, 235);
    margin-top: -1px;
    padding-top: 50px;
    border-right-color: rgb(236, 237, 235);
    border-bottom-color: rgb(236, 237, 235);
    border-left-color: rgb(236, 237, 235);
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

.jss6 {
    width: 100%;
    margin: auto;
    padding: 0 20px;
    max-width: 1276px;
}

.jss800 {
    padding-bottom: 48px;
}

.jss804 {
    width: 100%;
    display: flex;
}

.jss805 {
    width: 59%;
}

.jss806 {
    color: rgb(33, 33, 33);
}

.jss801 {
    font-family: ProximaNova-Bold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.MuiTypography-h4 {
    font-size: 24px;
    font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: normal;
    line-height: 1.235;
}

.MuiTypography-root {
    margin: 0;
}

.jss807 {
    padding-top: 5px;
}

.MuiTypography-colorTextSecondary {
    color: #929391;
}

.MuiTypography-body1 {
    font-size: 16px;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: 400;
    line-height: 1.5;
}

.jss808 {
    width: 504px;
    padding-top: 33px;
}
.jss812 {
    display: flex;
    justify-content: space-between;
}

.jss813 {
    flex-grow: 1;
}


.jss815 {
    position: relative;
}

@media (min-width: 600px){
    .jss809 {
        
        padding: 18px 24px;
        font-size: 16px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}


.jss809 {
    color: #929391;
    width: 100%;
    border: none;
    display: block;
    outline: none;
    line-height: 1.5;
    border-radius: 0px;
    background-color: #F7F8F7 !important;
    -webkit-appearance: unset;
    -webkit-box-shadow: 0 0 0px 1000px #F7F8F7 inset !important;
}

.jss810 {
    color: #FFFFFF;
    box-shadow: none;
    border-radius: 0px;
    text-transform: capitalize;
    background-color: #000000;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}


.jss817 {
    width: 41%;
}

.jss818 {
    color: rgb(33, 33, 33);
}

.jss801 {
    font-family: ProximaNova-Bold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
.MuiTypography-h4 {
    font-size: 24px;
    font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: normal;
    line-height: 1.235;
}
.jss819 {
    padding-top: 5px;
}


.MuiTypography-colorTextSecondary {
    color: #929391;
}

.jss820 {
    display: flex;
    padding-top: 33px;
}
.jss803 {
    padding: 0;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiButton-root {
    color: #000000;
    width: 100%;
    padding: 6px 16px;
    font-size: 16px;
    min-width: 64px;
    box-shadow: none !important;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: bold;
    line-height: 1.75;
    border-radius: 2px;
    text-transform: uppercase;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}


.jss802 {
    height: 56px;
}
.jss822 {
    padding-left: 32px;
}
.jss803 {
    padding: 0;
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.jss802 {
    height: 56px;
}



.jss810 {
    color: #FFFFFF;
    box-shadow: none;
    border-radius: 0px;
    text-transform: capitalize;
    background-color: #000000;
}

@media (min-width: 600px)
{
    .jss810 {
        width: 179px;
        height: 56px;
        font-size: 18px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}





.jss823 {
    border-top: 1px solid rgb(236, 237, 235);
    padding-top: 48px;
    border-right-color: rgb(236, 237, 235);
    border-bottom-color: rgb(236, 237, 235);
    border-left-color: rgb(236, 237, 235);
    padding-bottom: 40px;
}


.jss800 {
    padding-bottom: 48px;
}



.MuiGrid-spacing-xs-5 {
    width: calc(100% + 40px);
    margin: -20px;
}



.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.MuiGrid-spacing-xs-5 > .MuiGrid-item {
    padding: 20px;
}


.jss825 {
    width: 11%;
}

.jss824 {
    font-family: ProximaNova-Bold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}


.jss827 {
    line-height: 1.75;
    padding-top: 4px;
}
.jss826 {
    color: #5d5e5c;
    text-decoration: none;
}

.MuiTypography-h6 {
    font-size: 16px;
    font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: normal;
    line-height: 1.6;
}

.jss838 {
    line-height: 1.75;
    padding-top: 4px;
}
.jss848 {
    line-height: 1.75;
    padding-top: 4px;
}
.jss856 {
    line-height: 1.75;
    padding-top: 4px;
}

.jss864 {
    line-height: 1.75;
    padding-top: 4px;
}
.jss867 {
    line-height: 1.75;
    padding-top: 4px;
}


.jss873 {
    line-height: 1.75;
    padding-top: 4px;
}


.jss879 {
    border-top: 1px solid rgb(236, 237, 235);
    padding-top: 18px;
    border-right-color: rgb(236, 237, 235);
    border-bottom-color: rgb(236, 237, 235);
    border-left-color: rgb(236, 237, 235);
    padding-bottom: 18px;
}

.jss882 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.jss883 {
    margin-left: -28px;
    margin-right: -28px;
}

.jss884 {
    display: inline-flex;
    font-size: 16px;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
}

.jss880 {
    box-shadow: none;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: normal;
    text-transform: none;
    background-color: transparent;
}
.MuiButton-text {
    padding: 6px 8px;
}
.jss881 {
    width: 48px;
    border: solid 1px #c8c9c6;
    height: 48px;
    border-radius: 50%;
}
.jss885 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.jss886 {
    text-align: left;
    line-height: 1.43;
    padding-left: 12px;
}
.jss887 {
    color: rgb(146, 147, 145);
}
.jss889 {
    display: inline-flex;
    font-size: 16px;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
}
.jss880 {
    box-shadow: none;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: normal;
    text-transform: none;
    background-color: transparent;
}
.jss881 {
    width: 48px;
    border: solid 1px #c8c9c6;
    height: 48px;
    border-radius: 50%;
}

.jss890 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.jss891 {
    text-align: left;
    line-height: 1.43;
    padding-left: 12px;
}

.jss892 {
    color: rgb(146, 147, 145);
}

.jss894 {
    display: inline-flex;
    font-size: 16px;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
}

.jss881 {
    width: 48px;
    border: solid 1px #c8c9c6;
    height: 48px;
    border-radius: 50%;
}

.jss895 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jss896 {
    text-align: left;
    line-height: 1.43;
    padding-left: 12px;
}

.jss897 {
    color: rgb(146, 147, 145);
}

.jss900 {
    padding-left: 3px;
    padding-right: 3px;
}


.jss899 {
    display: inline-flex;
    align-items: center;
    margin-left: -3px;
    margin-right: -12px;
}

.jss901 {
    padding-left: 3px;
    padding-right: 3px;
}
.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}


.jss902 {
    padding-left: 3px;
    padding-right: 3px;
}


.jss899 {
    display: inline-flex;
    align-items: center;
    margin-left: -3px;
    margin-right: -12px;
}


.jss882 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.jss879 {
    border-top: 1px solid rgb(236, 237, 235);
    padding-top: 18px;
    border-right-color: rgb(236, 237, 235);
    border-bottom-color: rgb(236, 237, 235);
    border-left-color: rgb(236, 237, 235);
    padding-bottom: 18px;
}


.jss903 {
    border-top: 1px solid rgb(236, 237, 235);
    padding-top: 24px;
    border-right-color: rgb(236, 237, 235);
    border-bottom-color: rgb(236, 237, 235);
    border-left-color: rgb(236, 237, 235);
}
.jss907 {
    display: flex;
    margin: -6px -8px;
    justify-content: space-between;
}

.jss908 {
    display: inline-flex;
    align-items: center;
}

.jss904 {
    text-transform: capitalize;
}

.jss909 {
    color: rgb(146, 147, 145);
    padding-left: 16px;
}

.jss905 {
    color: #929391;
    text-decoration: none;
}
.jss912 {
    display: inline-flex;
}

/*   

                Mobile View   

*/

.jss218 {
    margin-top: -1px;
    margin-bottom: 0px;
}

.jss223 {
    padding: 20px;
    border-top: 1px solid rgb(236, 237, 235);
    border-right-color: rgb(236, 237, 235);
    border-bottom-color: rgb(236, 237, 235);
    border-left-color: rgb(236, 237, 235);
    background-color: rgb(255, 255, 255);
}

.jss219 {
    font-family: ProximaNova-Bold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.jss224 {
    color: rgb(16, 21, 39);
    font-size: 20px;
    padding-top: 3px;
}

.jss225 {
    color: rgb(146, 147, 145);
    font-size: 12px;
}

.jss226 {
    padding-top: 20px;
}

.jss230 {
    display: flex;
    justify-content: space-between;
}

.jss231 {
    flex-grow: 1;
}

.jss227 {
    color: #929391;
    width: 100%;
    border: none;
    display: block;
    outline: none;
    line-height: 1.5;
    border-radius: 0px;
    background-color: #F7F8F7 !important;
    -webkit-appearance: unset;
    -webkit-box-shadow: 0 0 0px 1000px #F7F8F7 inset !important;
}



@media (max-width: 599.95px)
{
.jss227 {

    padding: 16px;
    font-size: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
}



.jss228 {
    color: #FFFFFF;
    box-shadow: none;
    border-radius: 0px;
    text-transform: capitalize;
    background-color: #000000;
}
@media (max-width: 599.95px)
{
.jss228 {
    width: 108px;
    height: 50px;
    font-size: 14px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
}


.jss235 {
    padding-top: 20px;
}

.MuiButtonGroup-fullWidth {
    width: 100%;
}

.MuiButtonGroup-root {
    display: inline-flex;
    border-radius: 2px;
}
.MuiButtonGroup-groupedOutlinedHorizontal:not(:last-child) {
    border-right-color: transparent;
}

.MuiButtonGroup-groupedHorizontal:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.jss237 {
    border-bottom: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 0;
}
.jss236 {
    color: #212121;
    border: solid 1px #ECEDEC;
    height: 56px;
    font-size: 14px;
    font-family: ProximaNova-Bold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    text-transform: capitalize;
}

.MuiButtonGroup-grouped {
    min-width: 40px;
}

.MuiButton-fullWidth {
    width: 100%;
}

.MuiButton-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.jss243 {
    display: flex;
    padding-top: 8px;
    justify-content: center;
}
.jss247 {
    display: flex;
    justify-content: center;
}

.jss221 {
    padding: 12px 8px;
    font-size: 16px;
    min-width: 1px;
    font-family: ProximaNova-Bold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.jss248 {
    font-size: 12px;
    padding-top: 8px;
}

.jss249 {
    color: rgb(146, 147, 145);
    display: flex;
    justify-content: center;
}

.jss250 {
    display: flex;
    justify-content: center;
}

.jss222 {
    color: #929391;
    text-decoration: none;
}

.logo-background-custom{
    height:auto;
    background-color:rgba(0, 0, 0, 0.8);
   
}
.logo-image{
    padding-left:10%;
    padding-right:10%;
}

.mobile-logo-view{
    height:30px;
}



































































































































































































































































































































































































































































































































